@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #333;
  background-color: var(--primary-color);
}

:root {
  --primary-color: rgb(252, 239, 190);
  --secondory-color: rgb(243, 210, 111);
  --third-color: rgb(93, 127, 15);
}
.header {
  position: absolute;
  width: calc(100% - 5rem);
  left: 5rem;
  height: 6rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.header.active {
  width: calc(100% - 22.5rem);
  left: 22.5rem;
  transition: all 0.5s ease;
  z-index: 1;
}
#title {
  font-size: 5rem;
}

.side-bar {
  position: absolute;
  padding-top: 2rem;
  width: 5rem;
  height: 100%;
  font-size: 2rem;
  background-color: rgb(243, 210, 111);
  transition: all 0.5s ease;
}

.side-bar.active {
  width: 22.5rem;
  height: 100%;
}
.logo {
  display: none;
}
.logo.active {
  position: absolute;
  display: flex;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  padding-left: 2rem;
}
#btn {
  position: absolute;
  font-size: 2.5rem;
  left: 2rem;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s ease;
}
#btn.active {
  left: 18.5rem;
}
#btn:hover {
  color: #333;
  background-color: rgba(149, 135, 135, 0.479);
}
.sidebar-list {
  display: none;
}
.sidebar-list.active {
  display: block;
  position: absolute;
  margin-top: 6rem;
}

li {
  height: 4rem;
  list-style: none;
  display: flex;

  align-items: center;
  width: 21rem;
  height: 3.8rem;
  font-size: 2rem;
  font-weight: 1000;
  padding-left: 1rem;
  margin-left: 1rem;
  transition: all 0.5s ease;
  color: var(--third-color);
  border-radius: 8px;
  text-decoration: none;
}
li:hover {
  color: #333;
  background-color: rgba(149, 135, 135, 0.479);
}
a {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 2rem;
  border-radius: 8px;
  color: #fff;
}
.bxs-layer-plus:hover {
  color: #333;
  background-color: rgba(149, 135, 135, 0.479);
}
.bx-upload {
  cursor: pointer;
}
#input {
  display: none;
  color: #fff;
  height: 4rem;
}
#input.active {
  position: absolute;
  display: flex;
  bottom: 1.5rem;
  background-color: rgba(51, 51, 51, 0.544);
}
.table {
  position: absolute;
  width: calc(100% - 5rem);
  height: calc(100% - 6rem);
  background-color: var(--primary-color);
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
  display: flex;
  z-index: 0;
}
.table.active {
  width: calc(100% - 22.5rem);
  height: 70rem;
  transition: all 0.5s ease;
  z-index: 0;
}
.table-image {
  position: absolute;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 60%;
  height: 70%;
  border-radius: 18px;
  transition: all 0.5s ease;
  z-index: 0;
}
/*.extraSection {
  display: flex;
  flex-direction: column;
}*/

.extraSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 4rem;
  /* width: 15%; */
  height: 40rem;
  right: 0;
  top: 15.9%;
  border-radius: 18px;
}
.extra {
  /* position: relative; */
  width: 4rem;
  height: 15rem;
  background-color: pink;
  left: 100%-4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--third-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: x-large;
  transition: ease-in 0.5s;
}
#themeBtn {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.5s;
}
#pomodoroBtn {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.5s;
}
#pomodoroBtn.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 6rem;
  background-color: var(--secondory-color);
  transition: ease-in 0.5s;
}
#pomodoroBtn.active:hover {
  background-color: var(--third-color);
}
#pomodoroBtn:hover {
  color: #333;
  background-color: var(--secondory-color);
}

#themeBtn.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 6rem;
  background-color: var(--secondory-color);
  transition: ease-in 0.5s;
}
#themeBtn.active:hover {
  background-color: var(--third-color);
}
#themeBtn:hover {
  color: #333;
  background-color: var(--secondory-color);
}
.eSection {
  position: absolute;
  right: 0;
  background-color: var(--primary-color);
  width: 20%;
  height: auto;
  /* top: 15rem; */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* transition: ease-in 0.5s; */
}
#theme {
  top: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: ease-in 0.5s;
}
#theme.active {
  background-color: var(--secondory-color);
  height: auto;
  top: 23%;
}
.akis {
  top: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pomodoro {
  top: 25rem;
  display: flex;
  flex-direction: row-reverse;
  transition: ease-in 0.5s;
}

#pomodoro.active {
  background-color: var(--secondory-color);
  height: auto;
  top: 23%;
}
.timerBtns {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 10px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
#timerBtn {
  background-color: rgba(123, 122, 122, 0.42);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  left: 15%;
  height: 2rem;
  width: 5vw;
  font-size: 1vw;
}
#breakBtn {
  background-color: rgba(123, 122, 122, 0.42);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  left: 15%;
  height: 2rem;
  width: 5vw;
  font-size: 1vw;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(123, 122, 122, 0.42);
  border-radius: 8px;
  color: black;
  width: 90%;
  height: 5vw;
  font-size: 2.5vw;
}
.pause {
  background-color: rgb(152, 216, 170);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  height: 2rem;
  width: 90%;
  font-size: 1vw;
  position: relative;
  transition: ease-in 0.5s;
}
.pause.active {
  background-color: rgb(255, 125, 125);
  transition: ease-in 0.5s;
}
.setting {
  font-size: 2.1rem;
  margin-top: 1rem;
  top: 2rem;
  height: 2rem;
  cursor: pointer;
}
.bx-fullscreen {
  cursor: pointer;
}

.t.active {
  margin-top: 2rem;
  width: 4.2rem;
  height: 4rem;
  background-color: var(--third-color);
  border-radius: 5px;
  cursor: pointer;
}

img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  z-index: 0;
}
.duty {
  position: absolute;
  width: 85%;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 2rem;
  color: #fff;
  font-size: 3rem;
  z-index: 1;
  border-radius: 6px;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: rgba(1, 91, 39, 0.907);
  color: #fff;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.box:hover {
  background-color: #333;
  color: #fff;
  font-weight: 500;
}
.bx-plus {
  position: absolute;
  font-size: x-large;
  right: 1rem;
  cursor: pointer;
}
.bxs-edit-alt {
  position: absolute;
  font-size: 2rem;
  right: 3.2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
.liste {
  position: absolute;
  display: flex;
  margin-left: 3rem;
  border-radius: 8px;
  background: rgba(221, 218, 218, 0.173);
  width: 13.2rem;
  border: none;
  color: rgb(0, 0, 0);
  height: 3rem;
  font-size: 1.8rem;
  padding-left: 1rem;
}
::placeholder {
  color: #fff;
  opacity: 40%;
}
.liste2 {
  position: absolute;
  display: flex;
  margin-left: 3rem;
  border-radius: 8px;
  background: rgba(221, 218, 218, 0.173);
  width: 11.5rem;
  border: none;
  color: rgb(0, 0, 0);
  height: 3rem;
  font-size: 1.8rem;
  padding-left: 1rem;
}
.bx-upload {
  color: #fff;
  position: absolute;
  right: 0.5rem;
  font-size: 2rem;
}

.bxs-x-circle {
  position: absolute;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}
#input-2 {
  height: 4rem;
  position: absolute;
  background-color: #333;
  bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 2rem;
}
#box-plus-duty {
  font-size: 2rem;
}

#list-duty {
  border-radius: 8px;
  background-color: rgba(127, 122, 122, 0.505);
  width: 75%;
}
